@import "tailwindcss";

@theme {
  /* Colors */
  --color-grey-300: #858584;
  --color-grey-400: #2b2b2b;
  --color-grey-500: #3b3b3b;
  --color-primary: #a259ff;
  --color-white: #fff;

  /* Semantic colors */
  --bg-color: var(--color-grey-400);
  --text-color: var(--color-white);

  /* Typography */
  --font-work-sans: "Work Sans", sans-serif;
  --font-space-mono: "Space Mono", monospace;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-normal: 1.4;
  --line-height-medium: 1.6;

  --spacing-30px: 30px;
}

@layer base {
  body {
    background-color: var(--bg-color);
    font-family: var(--font-work-sans);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-normal);
    color: var(--color-white);
  }

  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

  h2 {
    font-weight: var(--font-weight-semibold);
  }
}

@layer components {
  .btn {
    display: inline-flex ;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border: 2px solid;
  }

}

@layer utilities {
  .container {
    max-width: 1110px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 30px;
  }
}