*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --gray-color-300: #858584;
  --gray-color-400: #2b2b2b;
  --gray-color-500: #3b3b3b;
  --primary-color: #a259ff;
  --white-color: #fff;

  /* Semantic colors */
  --bg-color: var(--gray-color-400);
  --text-color: var(--white-color);

  /* Typography */
  --primary-font: "Work Sans", sans-serif;
  --secondary-font: "Space Mono", monospace;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height-small: 1.2;
  --line-height-normal: 1.4;
  --line-height-medium: 1.6;
}

body {
  background-color: var(--bg-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--white-color);
}

ul,
ol {
  list-style-type: none;
}

button {
  border: 0;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input {
  border: 0;
  outline: none;
  color: var(--gray-color-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.btn {
  display: inline-flex;
  gap: 12px;
  padding: 17px 48px;
  border-radius: 20px;
  line-height: 22px;
  font-weight: var(--font-weight-semibold);
  border: 2px solid transparent;
}

.btn.btn-primary {
  background-color: var(--primary-color);
}

.btn.btn-outline {
  border-color: var(--primary-color);
}

.btn.btn-small {
  padding: 17px 28px;
}

.btn.btn-white {
  background-color: var(--white-color);
  color: var(--gray-color-400);
}

.section {
  position: relative;
  padding: 80px 0;
}

.section-heading:has(.btn) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.heading-text {
  flex: 1;
}

.section-title {
  font-size: 38px;
  line-height: var(--line-height-small);
}

.section-subtitle {
  font-size: 22px;
  line-height: var(--line-height-medium);
}

.section-title + .section-subtitle {
  margin-top: 10px;
}

.nft-info-title {
  font-size: 22px;
}

.nft-info-title + .nft-info-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--gray-color-400);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link {
  padding: 12px 20px;
  font-weight: var(--font-weight-semibold);
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
  display: none;
}

/* Section hero */
.section-hero .section-title {
  font-size: 67px;
  line-height: 1.1;
  text-transform: capitalize;
}

.section-hero .section-subtitle {
  margin-top: 20px;
}

.hero-inner {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.hero-content,
.hero-media {
  flex: 1;
}

.hero-media {
  overflow: hidden;
  border-radius: 20px;
}

.hero-content-wrap {
  margin-top: 30px;
}

.additional-info-list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;
}

.additional-info-item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.additional-info-item .value {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-bold);
  font-size: 28px;
}

.additional-info-item .label {
  font-size: 24px;
  line-height: var(--line-height-medium);
}

.hero-media-info {
  padding: 22px 20px;
  background-color: var(--gray-color-500);
}

/* Section collection */
.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.collection-item {
  width: calc((100% - 60px) / 3);
}

.collection-thumbnails {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.collection-image,
.collection-thumbnail {
  overflow: hidden;
  border-radius: 20px;
}

.collection-thumbnail > img,
.collection-image > img {
  width: 100%;
}

.collection-thumbnail {
  flex: 1;
}

.collection-thumbnail .btn-additional {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-bold);
  font-size: 22px;
}

.collection-card .nft-info {
  margin-top: 15px;
}

/* Section Creators */
.creator-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 60px;
}

.creator-item {
  width: calc((100% - 90px) / 4);
}

.creator-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  background-color: var(--gray-color-500);
  border-radius: 20px;
}

.creator-image {
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 999px;
}

.creator-rank {
  position: absolute;
  top: 18px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 999px;
  background-color: var(--gray-color-400);
  font-family: var(--secondary-font);
  color: var(--gray-color-300);
}

.creator-info {
  text-align: center;
  margin-top: 20px;
}

.creator-name {
  font-size: 22px;
}

.creator-sales {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.creator-sales .label {
  color: var(--gray-color-300);
}

.creator-sales .coin {
  font-family: var(--secondary-font);
}

/* Section category */
.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 60px;
}

.category-card {
  overflow: hidden;
  border-radius: 20px;
}

.category-image > img {
  width: 100%;
}

.category-info {
  padding: 20px 30px;
  background-color: var(--gray-color-500);
}

.catetory-title {
  font-size: 22px;
}

/* reakpoint */

/* Media queries */

@media screen and (max-width: 1110px) {
  .logo {
    width: 182px;
  }

  .section-title {
    font-size: 28px;
  }

  .section-subtitle {
    font-size: 16px;
  }

  .section {
    padding: 40px 0;
  }

  .section-hero {
    padding: 80px 0;
  }

  .section-hero .section-title {
    font-size: 38px;
  }

  .section-hero .section-subtitle {
    font-size: 16px;
  }

  .additional-info-item .label {
    font-size: 16px;
  }

  .additional-info-item .value {
    font-size: 22px;
  }

  .menu-btn {
    display: block;
  }

  .navigation {
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    width: 300px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s;
    /* display: none; */
    flex-direction: column;
    background-color: var(--gray-color-500);
  }

  .navigation.is-open {
    transform: translateX(0);
  }

  .menu {
    flex-direction: column;
  }

  .creator-item {
    width: calc((100% - 30px) / 2);
  }

  .creator-card {
    gap: 20px;
    flex-direction: row;
  }

  .creator-image {
    width: 60px;
    height: 60px;
  }

  .creator-info {
    margin-top: 0;
    text-align: left;
  }

  .creator-rank {
    top: 13px;
    left: 12px;
  }

  .collection-list {
    margin-top: 40px;
  }

  .collection-item {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .btn {
    justify-content: center;
    width: 100%;
  }

  .section-hero {
    padding: 40px 0;
    padding-bottom: 237px;
  }

  .hero-content-wrap {
    width: calc(100% - 60px);
    position: absolute;
    margin-top: 0;
    bottom: 40px;
  }

  .header {
    padding: 15px 30px;
  }

  .hero-inner {
    flex-direction: column;
    align-items: stretch;
  }

  .hero-media-box > img {
    width: 100%;
  }

  .section-creators,
  .section-discover {
    padding-bottom: 140px;
  }

  .section-discover .section-heading .btn,
  .section-creators .section-heading .btn {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 40px;
  }

  .creator-item {
    width: 100%;
  }

  .collection-item {
    width: 100%;
  }
}


@media screen and (max-width: 360px) { 
  .creator-card {
    gap: 10px;
  }
}